---
- name: create the keystore if it doesn't exist yet
  include: elasticsearch-create-keystore.yml

- name: Get values from the keystore
  become: yes
  command: >
   {{es_home}}/bin/elasticsearch-keystore list
  register: list_keystore
  changed_when: False
  environment:
    ES_PATH_CONF: "{{ conf_dir }}"


- name: Add value to the keystore
  vars:
    # TODO: Removal doesn't work
    # keystore_action: "{{ (item.state is defined and item.state == 'absent') | ternary('remove', 'add') }}"
    keystore_action: add
    force_update: "{{ (item.force_update is defined and item.force_update) | ternary('--force', '') }}"
  shell: echo "{{ item.value }}" | {{es_home}}/bin/elasticsearch-keystore {{ keystore_action }} {{ force_update }} -x {{ item.setting }}
  when:
    - list_keystore is defined and (item.setting not in list_keystore.stdout_lines or force_update)
  environment:
    ES_PATH_CONF: "{{ conf_dir }}"
  no_log: true
  with_list: "{{ es_keystore_additional_values }}"
